<ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{ editando ? 'Edição' : 'Cadastro'}} Cliente</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="clientes"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content class="ion-padding">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
  
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input [(ngModel)]="clientes.nome" name="nome" #nome="ngModel" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Cpf</ion-label>
        <ion-input [(ngModel)]="clientes.cpf" name="cpf" #cpf="ngModel" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data Nascimento</ion-label>
        <ion-input [(ngModel)]="clientes.dataNasc" name="dataNasc" #dataNasc="ngModel" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Telefone</ion-label>
        <ion-input [(ngModel)]="clientes.telefone" name="telefone" #telefone="ngModel" required></ion-input>
      </ion-item>
    
      <ion-button type="submit" class="ion-padding" [disabled]="form.invalid" color="primary" expand="block">
        Salvar
      </ion-button>
    </form>
  </ion-content>
  